* {
    box-sizing: border-box;
  }

header h1{
  font-size: 30px;
}  
header img{
  height: 80px;
}
.container {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
 }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(162, 162, 216, 0.425);
  }
  
  /* Style the header */
  header {
    background-color: #4d4bc7;
    padding: 15px;
    text-align: center;
    font-size: 35px;
    color: white;
    border-radius: 10px 10px 10px 0px;
  }
  
  /* Container for flexboxes */
  section {
    display: -webkit-flex;
    display: flex;
    
  }
  .steak2img{
    position: absolute;
    height:200px;
    bottom: 90px;
    left:140px;
  }
  .steak3img{
    position: absolute;
    height:200px;
    bottom: 20px;
    left:140px;
  }
  /* Style the navigation menu */
  nav {
    -webkit-flex: 0.4;
    -ms-flex: 0.4;
    flex: 0.4;
    background: #ffffff;
    padding: 0px;
    border: solid 0.1px rgb(90, 90, 90);
    border-left: none;
    border-radius: 0px 4px 4px 0px;
  }
  nav a, li{
    text-decoration: none;
    color:rgb(0, 0, 68);
    margin-bottom: 100px;
    text-align: center;
    margin-top:60px;
    font-size: 15px;
    padding:none;
    height:30px;


  }

  article button{
    border: 1px solid blue;
    background-color: rgb(187, 187, 255);
    border-radius: 10px;
    height: 20px;
    position:absolute;
    bottom: 55px;
    right: 50px;
    }
  article button:hover{
    background-color: rgb(53, 53, 209);
  }
  article button a{
    text-decoration: none;
  }
  nav div{
    padding:none;
    background-color:rgba(117, 125, 216, 0.164);
    text-align: center;
    border-radius: 10px;
    line-height: 30px;
  }
  nav div:hover{
    padding:none;
    background-color:rgb(117, 126, 216);
    text-align: center;
    border-radius: 10px;
  }

  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Style the content */
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10px;
    height: 70vh;
  }
  
  /* Style the footer */
  footer {
    background-color: #4d4bc7;
    padding: 10px;
    text-align: left;
    color: white;
    border-radius: 0px 4px 0px 0px;
    min-height:100%;
  }
  footer h1{
    font-size: 20px;
  }
  video{
    position:absolute;
    height:50%;
    margin-left: auto;
    margin-right: auto;
  }
  footer p{
    font-size: 10px;
  }

  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    header h2{
      font-size: 20px;
    }
    .steak2img, .steak3img{
      visibility: hidden;
    }
    nav li{
      margin:0;
    }
    article button{
      right: 30px;
      height:35px;
    }
    video{
      position:unset;
      height:400px;;
    }
    
  }
